<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>This is the first page</h1>
    <form action="/" method="post">
        <section>
            <label for="username"><h2>What's Your name</h2></label>
            <input type="text" name="username" placeholder="username">
            <input type="number" id="pin" name="pin" id="pin" min="0000" max="9999" placeholder="Enter 4 Digit Pin">
            <button>Login</button>
        </section>
    </form>
    <button>Have a quiz link?</button>

    <a href="/newusr">Create a new user</a>

</body>

</html>